/*-- scss:defaults --*/

// Colors
$dark-green: #487e02;
$light-green: #3bd404;
$cream: #FDFBF7;
$gray: #c5c4c4;
$dblue: #071099;
$lblue: #80e9ec;
$orange: #9b530b;
$black: #000000;

// Layout
$body-bg: $lblue; // Light blue background
$navbar-bg: #010d41; // Dark blue Navbar

